.row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.column {
    flex: 25%;
    max-width: calc(25% - 6px);
}

.column img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns: */
@media screen and (max-width: 767.98px) {
    .column {
        flex: 50%;
        max-width: calc(50% - 4px);
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 575.98px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}